<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="pl">

    <meta charset="UTF-8">
    <title>errorZad9</title>
</head>
<body>
<form th:action="@{/zad9/add}" method="post">
    <p><input type="text" th:field="${osobaFormularz.imie}" /></p>
    <p><input type="text" th:field="${osobaFormularz.nazwisko}" /></p>
    <p><input type="text" th:field="${osobaFormularz.telefon}" /></p>
    <p><input type="text" th:field="${osobaFormularz.mail}" /></p>
    <p><input type="submit" value="Add" /></p>
</form>

</body>
</html>
